# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints/

# Data
*.csv
*.tsv
*.txt
*.vec
*.npy

# Model checkpoints
*.pt
*.pth

# OS junk
.DS_Store

# Env
.env
word2vec_model.npz
word2vec_model.npz
